{% for item in automysqlbackup_cron  %}
{% if automysqlbackup_cron is defined and ansible_os_family == "Debian" %}
{{ item.minute }} {{item.hour}} {{item.day}} {{item.month}} {{item.num_day}} {{item.user}} /usr/sbin/automysqlbackup /etc/automysqlbackup/{{ item.name }}.conf
{% elif automysqlbackup_cron is defined and ansible_os_family == "RedHat" %}
{{ item.minute }} {{item.hour}} {{item.day}} {{item.month}} {{item.num_day}} {{item.user}} /usr/local/bin/automysqlbackup /etc/automysqlbackup/{{ item.name }}.conf
{% endif %}
{% endfor %}

